/* variables.css */

/* Light Theme */
:root {
  --background-light: #f9fafb;
  --foreground-light: #1f2937;
  --muted-light: #e5e7eb;
  --card-light: #ffffff;
  --text-light: #1f2937;

  --purple-primary: #8b5cf6;
  --purple-secondary: #9d4edd;
  --blue-primary: #3b82f6;
  --blue-secondary: #60a5fa;
  --green-primary: #10b981;
  --green-secondary: #22c55e;
  --orange-primary: #f97316;
  --orange-secondary: #fb923c;
  --amber-primary: #f59e0b;
  --amber-secondary: #fbbf24;
  --rose-primary: #f43f5e;
  --rose-secondary: #f472b6;
  --teal-primary: #14b8a6;
  --teal-secondary: #2dd4bf;
}

/* Dark Theme */
:root {
  --background-dark: #1f2937;
  --foreground-dark: #f9fafb;
  --muted-dark: #374151;
  --card-dark: #111827;
  --text-dark: #f9fafb;
}

/* Default theme and color */
:root {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --muted: var(--muted-dark);
  --card: var(--card-dark);
  --text: var(--text-dark);

  --primary: var(--purple-primary);
  --secondary: var(--purple-secondary);
}
